<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="@hindsightery" />
<meta name="twitter:title" content="Example solutions for GOV.UK Protoype kit">
<meta name="twitter:description" content="Prototype kit example code.
">
<meta name="twitter:image" content="https://raw.githubusercontent.com/LandRegistry/prototype-kit-examples/master/app/assets/images/unfurl.png">
<meta name="twitter:image:alt" content="Prototype kit example code.">

<meta property="og:title" content="{% if pageTitle %}{{ pageTitle }} {% else %}Prototype kit example code.{% endif %}"/>
<meta property="og:description" content="{% if pageDescription %}{{pageDescription}}{% else %}Prototype kit example code.{% endif %}"/>
<meta property="og:image" content="https://raw.githubusercontent.com/LandRegistry/prototype-kit-examples/master/app/assets/images/unfurl.png" />





