{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p>Playing around with x governemnt things</p>

    <p><a href="who-for">order a pizza</a> from DWP design system.  routes and nunjucks.  routing back to check your answers after altering one value</p>
    <p><a href="components/index">xGov GOV.UK Protoype components</a>, from https://x-govuk.github.io/govuk-prototype-components/.  Autocomplete</p>


  </div>
</div>

{% endblock %}
